:root {
     /*COLOR*/
     --color-background: #ffffff;
     --color-navbar: #ffffff;

     --color-main: #498285;
     --color-main-second: #f5f5f5;
     --color-white: #ffffff;
     --color-box: #498285;

     --color-text-main: #000000;

     /*SIZE*/
     ---main-padding: 0px;

     ---border-radius: 0px;
     ---border-radius-button: 0px;
     ---border-radius-small: 0px;

     ---navbar-height: 150px;
}

body {
     margin: 0;
     padding: 0;
     font-family: 'Poppins', sans-serif;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     background-color: #ffffff;
}

.main {
     margin-bottom: 200px;
}

.red {
     background-color: red;
}

.componentFirst {
     display: flex;
     justify-content: center;
     margin-top: 100px;
     position: relative;
     overflow: hidden;
}

.componentSecond {
     width: 100%;
     max-width: 1450px;
     display: flex;
     margin: 0 50px;
}

.Dot {
     background-color: #498285;
     border-radius: 50%;
     width: 10px;
     height: 10px;
     margin: 5px 0;
     display: flex;
}

.dn {
     display: none;
}

@media only screen and (max-width: 670px) {
     .componentSecond {
          margin: 0 20px;
     }
     .main {
          margin-bottom: 100px;
     }

     .Dot {
          width: 5px;
          height: 5px;
          margin: 2px 0;
     }
}

@media only screen and (max-width: 450px) {
     .componentSecond {
          margin: 0 20px;
     }
}
